.start {
  .body {
    width: 1920px;
    height: 1280px;
    background: url(../../shared/assets/beautySalon.png);
    background-size: cover;
    color: white;
    .title {
      display: flex;
      font-family: "Russo One", sans-serif;
      font-size: 128px;
      position: absolute;
      bottom: 306px;
      right: 345px;
      p {
        margin-left: 10px;
      }
    }
    .slogan {
      position: absolute;
      bottom: 91px;
      right: 196px;
      & :first-child {
        font-size: 96px;
        width: 804px;
        font-weight: bold;
        line-height: 74px;
        margin: 0;
      }
      & :last-child {
        font-size: 64px;
        margin: 0;
      }
    }
  }
}
