.component {
  background-color: rgba(196, 242, 242, 1);
  padding: 60px 0 0 160px;
  height: 1922px;
  .cards {
    margin-left: -100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
}
