@import "../../app/index.scss";
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  img {
    height: 500px;
    margin-bottom: 20px;
  }
  .wrap {
    border: 2px solid $color-dark_grey;
    border-radius: 5px;
    padding: 50px;
    .buttons {
      margin-top: 16px;
    }
  }
}
.error {
  color: $color-red_2f;
  font-size: 0.75rem;
  margin-top: 4px !important;
  display: flex;
  align-items: center;
  .error_icon {
    height: 20px;
  }
  .error_text {
    margin-left: 4px;
  }
}
