.header {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.44);
  position: fixed;
  left: 0;
  .body {
    width: 1920px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    font-size: 32px;
    color: white;
    .logo {
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      img {
        margin: 20px 0 20px 180px;
      }
      .signature {
        margin-left: 20px;
        font-family: "Russo One", sans-serif;
      }
    }
    .section {
      display: flex;
      width: 925px;
      margin-left: 55px;
      margin-top: 26px;
      justify-content: space-between;
      span {
        height: fit-content;
        transition-property: color;
        transition-duration: 0.5s;
        &:hover {
          cursor: pointer;
          color: #4096ff;
        }
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      height: 100px;
      margin-left: 40px;
      gap: 30px;
    }
  }
}
