[class="MuiBox-root css-xgcuds"] {
  position: relative;
  height: 330px;
  .buttons {
    position: absolute;
    [class="MuiBox-root css-2royc9"] {
      width: 356px;
      margin-top: 10px;
    }
  }
}
