.component {
  height: 1280px;
  background: url(../../../shared/assets/beautySalon.png);
  background-size: cover;
  color: white;

  .label {
    position: relative;
    top: 610px;
    left: 1150px;
    .title {
      display: flex;
      font-family: "Russo One", sans-serif;
      font-size: 128px;
      bottom: 306px;
      right: 345px;
      p {
        margin-left: 10px;
      }
    }
    .slogan {
      & :first-child {
        bottom: 91px;
        right: 196px;
        font-size: 96px;
        width: 804px;
        font-weight: bold;
        line-height: 74px;
        margin: 0;
      }
      & :last-child {
        font-size: 64px;
        margin: 0;
      }
    }
  }
}
